/************** Home Page Styles *****************/
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  background-color: whitesmoke;
}

.home-container a {
  text-decoration: none;
  color: var(--primary-color);
}

/* Home Top Categories Section */
.home-top-categories-section {
  width: 100%;
}

.home-top-categories-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-top-categories-header h2 {
  margin: 0;
  text-transform: uppercase;
}

.home-top-categories-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 250px;
  gap: 0.75em;
  margin-top: 1em;
}

.category-card {
  background-color: var(--secondary-color);
  display: flex;
  position: relative;
  padding: 3em;
  gap: 0.5em;
  background-color: white;
}

.category-card:first-child {
  grid-column: span 2;
  grid-row: span 2;
}

.category-card:nth-child(2) {
  grid-column: span 2;
}

/* Featured Products Section */

.home-featured-products-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  gap: 1em;
}

.home-featured-products-header {
  margin: 0;
  text-transform: uppercase;
}

.home-featured-products-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 0.125em;
  min-height: 25em;
  padding: 1em;
  background-color: white;
}

.product-card a {
  padding: 1em;
  text-decoration: none;
}

.product-card a:first-child {
  background-color: antiquewhite;
}

.product-card p {
  margin: 0.5em 0;
}

.product-image {
  width: 100%;
  object-fit: cover;
}

.product-name {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
}

.product-category {
  margin: 0;
  font-size: 1em;
  color: var(--neutral-color);
}

.product-card-bottom {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-price {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
}

.add-product-button {
  text-decoration: none;
  background-color: #440E03;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.add-product-button:hover {
  background-color: #611403;
}

.add-product-button:active {
  background-color: #630C03;
}

/* Home News Section */
.home-latest-new-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 1em;
}

.home-latest-news-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  border-bottom: 1px solid black;
}

.home-latest-news-header h2 {
  margin: 0;
  text-transform: uppercase;
}

.home-latest-news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 2em 0;
  gap: 1em;
}

.news-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 35em;
  padding: 1em;
  background-color: white;
}

.news-card img {
  width: 100%;
  object-fit: cover;
}

.news-card p {
  margin: 0.25em 0;
}

.news-date {
  font-size: 0.8em;
  color: var(--neutral-color);
}

.news-title {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--neutral-color);
  filter: brightness(0.8)
}

.news-summary {
  font-size: 0.9em;
  color: var(--neutral-color);
}

.news-card a:last-child {
  margin-top: auto;
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
}