/* News Page Styles */
.news-container {
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  background-color: whitesmoke;
}

.news-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.news-header a {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  color: white;
  background-color: red;
  font-weight: bold;
}

.news-header a:hover {
  background-color: darkred;
}

.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1em;
}

.news-item {
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.news-item p {
  margin: 0.25em 0;
}

.news-thumbnail {
  width: 100%;
  object-fit: cover;
}

.news-date {
  margin: 0;
  font-size: 0.8em;
  color: #999;
}

.news-title {
  margin: 0.5em 0;
  font-size: 1.2em;
  font-weight: bold;
}

.news-meta {
  margin: 0;
  color: #666;
  font-size: 0.9em;
}

.news-link:first-child {
  margin-top: 0;
}

.news-link {
  margin-top: auto;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
}

.news-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
  gap: 1em;
  font-size: 1.2em;
}

.news-pagination a {
  text-decoration: none;
  padding: 0 1em;
  color: black;
}

.news-pagination span {
  font-weight: bold;
  color: red;
}